@media (max-width: 1200px) {
    .header {
        .container {
            max-width: 960px;
        }

        &__call {
            display: none;
        }

        &__title {
            font-size: 60px;
        }

        &__subtitle {
            font-size: 40px;
        }

        &__line {
            width: 400px;
        }
    }
}

@media (max-width: 992px) {
    .header {
        height: 100%;
        .container {
            max-width: 720px;
        }

        &__questions {
            display: none;
        }

        &__menu-item {
            font-size: 13px;
        }

        &__title {
            font-size: 50px;
        }

        &__subtitle {
            font-size: 30px;
        }

        &__dot {
            width: 11px;
            height: 9px;
        }
    }
}

@media (max-width: 768px) {
    .header {
        .container {
            position: relative;
            max-width: 540px;
        }

        &__hamburger {
            display: block;
            position: fixed;
            height: 25px;
            width: 30px;
            top: 53px;
            right: 30px;
            span {
                display: block;
                max-width: 100%;
                height: 3px;
                background-color: $main-color;
                margin: 5px auto 0px auto;
            }
            &:hover {
                cursor: pointer;
            }
        }

        &__menu {
            display: none;
        }

        &__questions {
            display: block;
        }

        &__call {
            display: block;
        }

        &__title {
            font-size: 37px;
        }

        &__subtitle {
            font-size: 23px;
        }

        &__menu_mobile-list {
            padding-left: 25px;
        }
        &__menu_mobile-item {
            margin-bottom: 20px;
            a {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 567px) {
    .header {
        .container {
            max-width: 100%;
            padding: 30px 20px;
        }

        &__title {
            font-size: 30px;
        }

        &__subtitle {
            font-size: 22px;
        }

        &__dot {
            width: 11px;
            height: 7px;
        }

        &__questions {
            display: none;
        }

        &__call {
            display: none;
        }

        &__hamburger {
            top: 53px;
            right: 25px;
        }

        &__line {
            width: 300px;
        }

        &__descr {
            font-size: 20px;
        }

        &__flex {
            flex-direction: column;
            align-items: center;
        }

        &__menu_mobile-list {
            padding-left: 15px;
        }

        &__menu_mobile-item {
            margin-bottom: 20px;
            a {
                font-size: 16px;
            }
        }
    }
}