.header {
    background: url('../imgs/header/plane.jpg') center/ cover no-repeat;
    height: 110vh;
    
    .container {
        padding-top: 29px;
        padding-bottom: 30px;
    }

    &__logo {
        width: 95px;
        height: 99px;
    }

    &__top {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        margin-left: 55px;
        height: 23px;
        &-item {
            font-family: "Roboto";
            font-weight: normal;
            font-size: 14px;
            border-right: 1px dotted;
            color: white;
            padding: 0px 12px;
            &:last-of-type {
                border-right: none;
            }
            a {
                position: relative;
                text-decoration: none;
                color: white;
                &:hover {
                    color: $main-color;
                    transition: 0.3s;
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 1.5px;
                        margin-top: 5px;
                        background-color: $main-color;
                        top: 20px;
                        left: 0px;
                    }
                }
            }
        }
    }

    &__questions {
        margin-left: 50px;
        text-align: right;
    }

    &__question {
        font-family: "Roboto";
        color: white;
        font-size: 14px;
    }

    &__phone {
        font-family: "Roboto";
        color: white;
        font-size: 19px;
        font-weight: bold;
    }

    &__call {
        margin-left: 19px;
    }

    &__menu__mobile {
        display: none;
    }

    &__main {
        text-align: center;
    }

    &__descr {
        margin-top: 28px;
        color: white;
        font-weight: 300;
        font-size: 24px;
    }

    &__title {
        margin-top: 10px;
        margin-bottom: 0;
        color: $main-color;
        font-size: 72px;
        font-weight: bold;
    }

    &__subtitle {
        font-size: 42px;
        color: white;
    }

    &__lines {
        display: flex;
        flex-direction: row;
        margin-top: 38px;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &__line {
        display: block;
        width: 460px;
        height: 1px;
        background-color: #fff;
    }

    &__dot {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 100%;
    }
    
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 28px;
        &-item {
            max-width: 260px;
            .wrapper {
                height: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            &__descr {
                margin-top: 20px;
                font-size: 16px;
                color: white;
                font-weight: 300;
            }
        }
    }

    &__calculation {
        margin: 0 auto;
        margin-top: 30px;
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: bold;
    }

    &__overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        &.active {
            display: block;
        }
    }

    &__menu_mobile {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        z-index: 10;
        opacity: 0;
        transition: all 0.6s;
        background-color: $main-color;
        &.active {
            left: 0;
            visibility: visible;
            opacity: 0.9;
        }

        &-list {
            list-style-type: none;
            padding-left: 50px;
            padding-top: 30px;
        }

        &-item {
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: 2px solid white;
            width: 80%;
            a {
                text-decoration: none;
                color: white;
                font-size: 25px;
                font-weight: bold;
            }
        }
    }

    &__menu__close {
        position: fixed;
        display: block;
        top: 15px;
        left: 52%;
        z-index: 11;
        cursor: pointer;
        span {
            display: block;
            width: 40px;
            height: 3px;
            background-color: white;
            &:first-of-type {
                transform: rotate(45deg);
                position: relative;
                top: 6px;
            }
            &:last-of-type {
                transform: rotate(-45deg);
                position: relative;
                top: 3px;
            }
        }
    }
}