@import 'libs/bootstrap-reboot.min.css';
@import 'blocks/base/mixins.scss';
@import 'blocks/base/button.scss';

* {
    font-family: "Roboto";
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header/header.scss';
@import 'blocks/header/header__media.scss';
