@import 'libs/bootstrap-reboot.min.css';
@import 'blocks/base/variables.scss';
@import 'blocks/base/mixins.scss';
@import 'blocks/base/button.scss';
@import 'blocks/base/title.scss';

* {
    font-family: "Roboto";
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/header/header.scss';
@import 'blocks/header/header__media.scss';
@import 'blocks/advantages/advantages.scss';
@import 'blocks/advantages/advantages__media.scss';
@import 'blocks/work/work.scss';
@import 'blocks/work/work__media.scss';
@import 'blocks/agent/agent.scss';
@import 'blocks/agent/agent__media.scss';
@import 'blocks/variants/variants.scss';
@import 'blocks/variants/variants__media.scss'; 
@import 'blocks/managers/managers.scss';
@import 'blocks/managers/managers__media.scss';
@import 'blocks/schemes/schemes.scss';
@import 'blocks/schemes/schemes__media.scss';
@import 'blocks/reviews/reviews.scss';
@import 'blocks/reviews/reviews__media.scss';
@import 'blocks/questions/questions.scss';
@import 'blocks/questions/questions__media.scss';
@import 'blocks/footer/footer.scss';
@import 'blocks/footer/footer__media.scss';
@import 'blocks/policy/policy.scss';

